.window {
  position: fixed;
  width: 600px;
  height: 400px;
  z-index: 99999;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.toolbar {
	cursor: move;
	height: 30px;
	border-radius: 5px 5px 0 0;
	border-top: thin solid #eaeae9;
	border-bottom: thin solid #dfdfde;
  background: linear-gradient(#e7e7e6, #E2E2E1);
}

